
.navbar .nav-item:hover .nav-link{
	background-color:white;
	color:rgb(210, 105, 0);
	border-radius:15px;
}
.bg-custom{
	background-color:rgb(255, 136, 17);
}
.text-violet{
	color:indigo;
}
.btn-success:hover {
	background-color:indigo;
}
.btn-success{
	background-color:#7200c6;
}